@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}


.cart-btn:hover .cart{
  display: block;
  /* background-color: red; */
}

.h-nav li{
  border-bottom: 3px solid transparent;
}
.h-nav li:hover{
  border-bottom: 3px solid #fd7e1b;
}

.lightbox{
  background-color: #1c1b1be5;
}